<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>464662077415-rgtdmeeucd9pf3p2gv4mdh6cph05711t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464662077415-rgtdmeeucd9pf3p2gv4mdh6cph05711t</string>
	<key>API_KEY</key>
	<string>AIzaSyDswkLMDHDSUaYk915_-Gqb3I6TqjoY1Xs</string>
	<key>GCM_SENDER_ID</key>
	<string>464662077415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.gatech.AmazingGifter</string>
	<key>PROJECT_ID</key>
	<string>amazinggifter-prealpha</string>
	<key>STORAGE_BUCKET</key>
	<string>amazinggifter-prealpha.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:464662077415:ios:10235b299fefc4f8</string>
	<key>DATABASE_URL</key>
	<string>https://amazinggifter-prealpha.firebaseio.com</string>
</dict>
</plist>